includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    phpVersion: 80100
    paths:
        - wp-content/plugins/eintrikot-community-core
        - wp-content/themes/eintrikot-community
