parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(array\<mixed, mixed\>\)\: bool\)\|null, Closure\(mixed\)\: array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: wp-content/plugins/eintrikot-community-core/home.php

		-
			message: '#^Offset ''first_year'' on array\{sum\: int, shared\: int, total\: int\} on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 2
			path: wp-content/plugins/eintrikot-community-core/metrics.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(string\)\: bool\)\|null, ''strlen'' given\.$#'
			identifier: argument.type
			count: 1
			path: wp-content/plugins/eintrikot-community-core/ndalumni.php

		-
			message: '#^Action callback returns bool but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: wp-content/plugins/eintrikot-community-core/people.php

		-
			message: '#^Call to function is_scalar\(\) with bool\|float\|int\|string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: wp-content/plugins/eintrikot-community-core/profile.php

		-
			message: '#^Parameter \#1 \$text of function esc_html expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: wp-content/plugins/eintrikot-community-core/requests.php

		-
			message: '#^Comparison operation "\>" between int\<1, max\> and 0 is always true\.$#'
			identifier: greater.alwaysTrue
			count: 1
			path: wp-content/plugins/eintrikot-community-core/services.php

		-
			message: '#^Parameter \#4 \$autoload of function add_option expects bool\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: wp-content/plugins/eintrikot-community-core/services.php
