<!-- wp:template-part {"slug":"mvp-header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"section article-page","layout":{"type":"default"}} --><main class="wp-block-group section article-page"><!-- wp:paragraph --><p><a class="text-link" href="/community-news/">← Alle News</a></p><!-- /wp:paragraph -->
<!-- wp:post-date {"format":"d.m.Y"} /-->
<!-- wp:post-title {"level":1} /-->
<!-- wp:post-featured-image {"aspectRatio":"16/9"} /-->
<!-- wp:post-content {"layout":{"type":"default"}} /-->
</main><!-- /wp:group -->
<!-- wp:template-part {"slug":"mvp-footer","tagName":"footer"} /-->